OS
.vscode
build
CMakeFiles
MakeFile
CMakeCache.txt
*.cmake
MarkDown.ipynb
Test*.c
Test*.cpp
Test*.py
main
child
empty_report.docx
FLP
Приблуды
third_party
*.exe
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
